
<div class = 'content-box col-xs-8 col-xs-offset-2 text-center'>
<h1> Movies </h1>
  <br  />
  <%= link_to 'Add New Movie', new_movie_path, class: 'btn btn-primary' %>
</div>

<br class='clear'/>

<br />

<% @movies.each do |movie| %>
  <div class='content-box col-xs-8 col-xs-offset-2'>
    <h1 class='text-center'><%= movie.title %></h1>
    <br  />
    <h3><%= movie.genre %></h3>

    <i><%= movie.rating %></i>
    <br  />  <br  />
    <p class= 'content-box'><%= movie.description %></p>
  </div>
<% end %>
